.slider-wrapper .bgimg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.07;
  z-index: -1;
  backdrop-filter: blur(10px);
}
.slider-wrapper .bg-swiper {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding: 0;
  z-index: -1;
}
.slider-wrapper .swiper {
  padding-top: 100px;
  width: 100%;
  color: black;
  height: 700px;
}
.slider-wrapper .swiper .swiper-pagination {
  display: flex;
  max-width: 335px;
  grid-template-rows: 1fr;
  column-gap: 2px;
  box-sizing: border-box;
  text-align: left;
}
.slider-wrapper .swiper .swiper-pagination-bullet {
  background: #dabb90;
  opacity: 0.5;
  border-radius: 0;
  height: 5px;
  flex-grow: 1;
}
.slider-wrapper .swiper .swiper-pagination-bullet-active {
  background: #dabb90;
  opacity: 1;
  flex-grow: 3;
}
.slider-wrapper .swiper .slider {
  display: grid;
  grid-template-columns: 1fr 10% 1fr;
  grid-template-rows: 65% 5% 30%;
}
.slider-wrapper .swiper .slider .play-btn {
  grid-area: 1/1/4/4;
  place-self: center;
  background-color: transparent;
  border: none;
}
.slider-wrapper .swiper .slider .play-btn:hover {
  position: relative;
  width: 140px;
  height: 140px;
}
.slider-wrapper .swiper .slider .play-btn:hover:before, .slider-wrapper .swiper .slider .play-btn:hover:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}
@keyframes scale-2 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.7);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.slider-wrapper .swiper .slider .play-btn:hover:before {
  width: 138px;
  height: 138px;
  border-color: #dabb90;
  top: 0;
  left: 0;
  animation: scale-2 1s linear 0s infinite;
}
.slider-wrapper .swiper .slider .play-btn:hover:after {
  width: 138px;
  height: 138px;
  border-color: #dabb90;
  top: 0;
  left: 0;
  opacity: 0;
  animation: scale-2 1s linear 0.5s infinite;
}
.slider-wrapper .swiper .slider .slider-img {
  grid-area: 1/3/4/3;
  place-self: center;
  padding-top: 5%;
}
.slider-wrapper .swiper .slider .slider-btn {
  max-width: 335px;
  grid-area: 2/1/2/1;
  color: #dabb90;
  font-family: "Kanit", serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  border: 2px solid #dabb90;
  border-radius: 3px;
  background-color: transparent;
  place-self: stretch;
}
.slider-wrapper .swiper .slider .slider-btn:hover {
  background-color: #dabb90;
  color: #1a1f24;
}
.slider-wrapper .swiper .slider .slider-text {
  grid-area: 1/1/1/1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
}
.slider-wrapper .swiper .slider .slider-text .big-text {
  display: grid;
  grid-area: 1/1;
  font-size: 60px;
  font-weight: 900;
  white-space: pre-wrap;
}
.slider-wrapper .swiper .slider .slider-text .small-text {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #9C9C9C;
}

@media only screen and (max-width: 1399px) {
  .slider-wrapper .swiper .slider {
    display: grid;
    grid-template-columns: 1fr 10% 1fr;
    grid-template-rows: 75% 5% 20%;
  }
}
@media only screen and (max-width: 900px) {
  .slider-wrapper {
    padding: 0 20px;
  }
  .slider-wrapper .bg-swiper {
    display: none;
  }
  .slider-wrapper .swiper {
    box-sizing: border-box;
    color: black;
    height: 85vh;
    padding: 0;
  }
  .slider-wrapper .swiper .swiper-pagination {
    display: flex;
    max-width: 100%;
    grid-template-rows: 1fr;
    column-gap: 2px;
    box-sizing: border-box;
    text-align: center;
  }
  .slider-wrapper .swiper .swiper-pagination-bullet {
    background: #dabb90;
    opacity: 0.5;
    border-radius: 0;
    height: 5px;
    flex-grow: 1;
  }
  .slider-wrapper .swiper .swiper-pagination-bullet-active {
    background: #dabb90;
    opacity: 1;
    flex-grow: 3;
  }
  .slider-wrapper .swiper .slider {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 50% 10%;
    box-sizing: border-box;
  }
  .slider-wrapper .swiper .slider .play-btn {
    grid-area: 2/1/4/1;
  }
  .slider-wrapper .swiper .slider .play-btn img {
    width: 25px;
    height: 25px;
  }
  .slider-wrapper .swiper .slider .play-btn {
    width: 62px;
    height: 62px;
    position: relative;
  }
  .slider-wrapper .swiper .slider .play-btn:before, .slider-wrapper .swiper .slider .play-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
  }
  @keyframes scale-2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(0.7);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  .slider-wrapper .swiper .slider .play-btn:before {
    width: 60px;
    height: 60px;
    border-color: #dabb90;
    top: 0px;
    left: 0px;
    animation: scale-2 1s linear 0s infinite;
  }
  .slider-wrapper .swiper .slider .play-btn:after {
    width: 60px;
    height: 60px;
    border-color: #dabb90;
    top: 0;
    left: 0;
    opacity: 0;
    animation: scale-2 1s linear 0.5s infinite;
  }
  .slider-wrapper .swiper .slider .slider-img {
    grid-area: 2/1/2/1;
    width: 100%;
    padding: 0;
  }
  .slider-wrapper .swiper .slider .slider-img img {
    width: 100%;
  }
  .slider-wrapper .swiper .slider .slider-img iframe {
    width: 100%;
  }
  .slider-wrapper .swiper .slider .slider-btn {
    grid-area: 3/1/3/1;
    max-width: 100%;
    height: 45px;
  }
  .slider-wrapper .swiper .slider .slider-text {
    grid-area: 1/1/1/1;
    grid-template-rows: 20% 1fr 1fr;
  }
  .slider-wrapper .swiper .slider .slider-text .big-text {
    display: grid;
    grid-template-columns: 60% 1fr;
    font-size: 24px;
  }
  .slider-wrapper .swiper .slider .slider-text .small-text {
    font-size: 16px;
  }
}