.shopping-cart {
  display: none;
  background-color: #dabb90;
  color: #1a1f24;
  font-family: "Kanit", serif;
  padding-right: 15%;
  padding-left: 40px;
  position: fixed;
  top: 0;
  right: 0;
  max-width: 35%;
  height: 100vh;
  z-index: 10;
  font-weight: 900;
  overflow-y: scroll;
  overflow-x: hidden;
}
.shopping-cart input[type=number] {
  -moz-appearance: textfield;
}
.shopping-cart input[type=number]::-webkit-inner-spin-button,
.shopping-cart input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.shopping-cart h1, .shopping-cart h2, .shopping-cart h3 {
  color: #1a1f24;
}
.shopping-cart .mobile-nav {
  display: none;
}
.shopping-cart .shopping-cart-head {
  padding-top: 1em;
  height: 60px;
  display: grid;
  grid-template-columns: 80% 20%;
  font-size: 56px;
  line-height: 100%;
  align-items: center;
}
.shopping-cart .shopping-cart-head .close-cart-btn {
  background-color: transparent;
  border: none;
  justify-self: end;
  padding: 0;
  margin: 0;
}
.shopping-cart .cart-item {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: 2px solid #1A1F24;
  height: 260px;
  box-sizing: border-box;
}
.shopping-cart .cart-item:nth-last-child(1) {
  border-bottom: none;
}
.shopping-cart .cart-item .product-info {
  display: grid;
  font-size: 24px;
  line-height: 36px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  column-gap: 25px;
  align-items: center;
}
.shopping-cart .cart-item .product-info .product-name {
  grid-area: 1/1/1/3;
  font-size: 24px;
  line-height: 36px;
}
.shopping-cart .cart-item .product-info .product-quantity {
  text-align: center;
  align-items: center;
  height: 45px;
  width: 160px;
  grid-area: 2/1/2/1;
  padding: 0;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 25% 50% 25%;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  background-color: transparent;
  border: 2px solid #1A1F24;
  border-radius: 3px;
}
.shopping-cart .cart-item .product-info .product-quantity .product-total {
  text-align: center;
  font-family: "Kanit", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}
.shopping-cart .cart-item .product-info .product-quantity .product-quantity-down, .shopping-cart .cart-item .product-info .product-quantity .product-total, .shopping-cart .cart-item .product-info .product-quantity .product-quantity-up {
  background-color: transparent;
  border: none;
}
.shopping-cart .cart-item .product-info .product-quantity .product-quantity-down, .shopping-cart .cart-item .product-info .product-quantity .product-quantity-up {
  font-weight: 900;
  font-size: 24px;
}
.shopping-cart .cart-item .product-info .product-price {
  grid-area: 2/2/2/2;
  font-size: 22px;
  line-height: 33px;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}
.shopping-cart .cart-item .product-info .product-price .product-price-value {
  border: none;
  background-color: transparent;
  font-family: "Kanit", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 33px;
}
.shopping-cart .cart-item .product-image {
  display: grid;
  place-items: center end;
}
.shopping-cart .shopping-cart-total {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 15% 85%;
}
.shopping-cart .shopping-cart-total h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.shopping-cart .shopping-cart-total .total-price {
  font-family: "Kanit", serif;
  font-style: normal;
  border: none;
  background-color: transparent;
  font-size: 32px;
  line-height: 48px;
}
.shopping-cart .shopping-cart-checkout {
  margin: 3em 0;
  height: 60px;
  background: #1A1F24;
  border: 2px solid #1A1F24;
  border-radius: 3px;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  text-transform: lowercase;
  color: #EDEDED;
}

@media only screen and (max-width: 900px) {
  .shopping-cart {
    overflow-x: hidden;
    left: 0;
    padding: 0 20px;
    max-width: 100%;
    grid-template-columns: 100%;
  }
  .shopping-cart .mobile-nav {
    display: grid;
    padding: 20px 0;
  }
  .shopping-cart .shopping-cart-head {
    padding: 0;
  }
  .shopping-cart .shopping-cart-head .close-cart-btn:last-of-type {
    display: none;
  }
  .shopping-cart .cart-item {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    height: 450px;
    max-width: 100%;
    place-items: center;
  }
  .shopping-cart .cart-item .product-info {
    place-self: center;
    grid-area: 2/1/2/1;
    width: 100%;
    column-gap: 0;
  }
  .shopping-cart .cart-item .product-info .product-name {
    grid-area: 1/1/1/3;
    font-size: 40px;
    hyphens: none;
  }
  .shopping-cart .cart-item .product-info .product-quantity {
    grid-area: 2/1/2/1;
  }
  .shopping-cart .cart-item .product-info .product-price {
    grid-area: 2/2/2/2;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    font-weight: 900;
    font-size: 32px;
    line-height: 115%;
  }
  .shopping-cart .cart-item .product-info .product-price .product-price-value {
    font-weight: 900;
    font-size: 32px;
    line-height: 115%;
  }
  .shopping-cart .cart-item .product-image {
    grid-area: 1/1/1/1;
    place-items: center;
  }
  .shopping-cart .shopping-cart-total .total-price {
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    padding-left: 20px;
  }
}