.speakers {
  display: grid;
  row-gap: 2em;
}
.speakers .breadcrumbs {
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #dabb90;
}
.speakers .breadcrumbs span {
  color: #9c9c9c;
}
.speakers .banner {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.speakers .banner .banner-big-text {
  grid-area: 1/1/1/1;
  font-weight: 900;
  font-size: 56px;
  line-height: 84px;
  text-transform: uppercase;
}
.speakers .banner .banner-small-text {
  grid-area: 2/2/2/2;
  font-family: "Inter", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #9c9c9c;
}
.speakers .filter {
  display: grid;
  grid-template-rows: 25% 75%;
  grid-template-columns: 100%;
  row-gap: 20px;
}
.speakers .filter::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0.15;
  box-shadow: 0 0.25em 0.5em #263238;
  pointer-events: none;
  transition: opacity 0.2s;
  z-index: -1;
}
.speakers .filter[open]::before {
  opacity: 0.6;
}
.speakers .filter .filter-head {
  border-bottom: 2px solid #9c9c9c;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
}
.speakers .filter .filter-head .title {
  color: #dabb90;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
}
.speakers .filter .filter-head .filters-toggle-btn {
  display: grid;
  padding-right: 50px;
  color: #9c9c9c;
  background-color: transparent;
  place-items: center end;
  justify-self: end;
}
.speakers .filter .filter-head .filters-toggle-btn button {
  background: #9c9c9c;
  border-color: #9c9c9c;
}
.speakers .filter .filter-items {
  user-select: none;
  grid-area: 2/1/2/3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 20px;
}
.speakers .filter .filter-items .filter-item {
  height: 50px;
  border: 2px solid #DABB90;
  border-radius: 3px;
  background-color: transparent;
  color: #ededed;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
.speakers .filter .filter-items .filter-item:hover {
  background-color: #dabb90;
  color: #1a1f24;
}
.speakers .filter .filter-items .selected-filter {
  background-color: #dabb90;
  color: #1a1f24;
}
.speakers .catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  font-family: "Montserrat", serif;
  gap: 20px;
  text-align: center;
  place-items: center stretch;
  padding: 20px 0;
}
.speakers .catalog .catalog-item {
  display: grid;
  grid-template-rows: 60% 1fr 1fr 1fr;
  border: 2px solid #DABB90;
  border-radius: 3px;
  place-items: center;
  row-gap: 5px;
  padding: 20px 0;
}
.speakers .catalog .catalog-item .catalog-item-img {
  max-width: 100%;
  max-height: 100%;
}
.speakers .catalog .catalog-item .catalog-item-desc {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #9c9c9c;
  align-self: start;
  height: 40px;
}
.speakers .catalog .hidden-by-filter {
  display: none;
}
.speakers .catalog .catalog-item:hover {
  background-color: #dabb90;
  color: #1a1f24;
}
.speakers .catalog .catalog-more-btn {
  display: none;
}
.speakers .category-block {
  margin-top: 6%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 45% 55%;
  background-color: #dabb90;
  border-radius: 3px;
  color: #1a1f24;
  height: 400px;
}
.speakers .category-block .category-block-text {
  display: grid;
  grid-template-rows: 30% 20% 50%;
  padding-right: 20px;
}
.speakers .category-block .category-block-text .category-block-title {
  color: #1a1f24;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  align-self: end;
  text-transform: uppercase;
}
.speakers .category-block .category-block-text .category-block-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  opacity: 0.65;
  align-self: center;
  text-transform: uppercase;
}
.speakers .category-block .category-block-text .category-block-btn {
  display: grid;
  width: 50%;
  height: 60px;
  border: 2px solid #1A1F24;
  border-radius: 3px;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #1a1f24;
  align-self: center;
  text-align: center;
  align-items: center;
}
.speakers .category-block .category-block-img {
  display: grid;
  min-width: auto;
  transform: translateY(-30%);
  justify-content: start;
}

.filter-head::before, .filter-head::after {
  width: 0.75em;
  height: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  background-color: #9c9c9c;
  text-align: right;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}
.filter-head::after {
  transform: translateY(-50%) rotate(90deg);
}
[open] .filter-head::after {
  transform: translateY(-50%) rotate(180deg);
}
.filter-head::-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 900px) {
  .speakers {
    padding: 0 20px;
  }
  .speakers .banner {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;
  }
  .speakers .banner .banner-big-text {
    grid-area: 1/1/1/1;
    font-size: 24px;
    line-height: 36px;
  }
  .speakers .banner .banner-small-text {
    grid-area: 2/1/2/1;
    line-height: 130%;
  }
  .speakers .filter {
    display: grid;
    grid-template-rows: 5% 95%;
    grid-template-columns: 100%;
    row-gap: 20px;
  }
  .speakers .filter .filter-head .title {
    font-size: 16px;
    line-height: 24px;
  }
  .speakers .filter .filter-head .filters-toggle-btn {
    font-size: 12px;
    line-height: 18px;
  }
  .speakers .filter .filter-items {
    grid-template-columns: 100%;
    grid-template-rows: unset;
    gap: 0;
    row-gap: 15px;
    padding: 0 20px;
  }
  .speakers .filter .filter-items .filter-item:hover {
    background-color: transparent;
    color: #ededed;
  }
  .speakers .filter .filter-items .selected-filter:hover {
    background-color: #dabb90;
    color: #1a1f24;
  }
  .speakers .catalog {
    grid-template-columns: 100%;
    grid-template-rows: unset;
    padding: 20px;
    gap: 0;
    row-gap: 30px;
  }
  .speakers .catalog .hidden-element-in-mobile-version {
    display: none;
  }
  .speakers .catalog .catalog-item .catalog-item-desc {
    line-height: 28px;
    height: 20px;
  }
  .speakers .catalog .catalog-item:hover {
    background-color: #dabb90;
    color: #1a1f24;
  }
  .speakers .catalog .catalog-more-btn {
    display: grid;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #dabb90;
    border-radius: 3px;
    color: white;
    height: 60px;
    align-items: center;
  }
  .speakers .catalog .hidden-btn {
    display: none;
  }
  .speakers .category-block {
    margin-top: 0;
    grid-template-rows: unset;
    grid-template-columns: 100%;
    height: unset;
    padding: 20px;
  }
  .speakers .category-block .category-block-text {
    display: grid;
    grid-template-rows: unset;
    padding-right: 0;
  }
  .speakers .category-block .category-block-text .category-block-title {
    color: #1a1f24;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    align-self: end;
    text-transform: uppercase;
  }
  .speakers .category-block .category-block-text .category-block-desc {
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 145%;
    opacity: 1;
    align-self: center;
    text-transform: unset;
    padding: 10px 0;
  }
  .speakers .category-block .category-block-text .category-block-btn {
    width: 100%;
    font-weight: 900;
    color: #1a1f24;
    align-self: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
  }
  .speakers .category-block .category-block-img {
    display: none;
  }
}