section.category-block
    .category-block-img
        img(src='img/category-block.png')
    .category-block-text
        h1.category-block-title ALL HEADPHONES
        h3.category-block-desc From in-ears to over-ears and everything in-between, there’s a Marshall headphone that’s perfect for you.
        a(href='index.html').category-block-btn shop now