section.category
    a(href='index.html').category-item
        img(src='img/category-headphones.png').category-item-img
        h2.category-item-text.main-text headphones
        .category-item-text.hover-link
            |show more
    a(href='speakers.html').category-item
        img(src='img/category-speakers.png').category-item-img
        h2.category-item-text.main-text speakers
        .category-item-text.hover-link
            |show more
    a(href='index.html').category-item
        img(src='img/category-accessories.png').category-item-img
        h2.category-item-text.main-text accessories
        .category-item-text.hover-link
            | show more
    a(href='index.html').category-item
        img(src='img/category-amps.png').category-item-img
        h2.category-item-text.main-text amps
        .category-item-text.hover-link
            | show more