footer
    .footer
        .copyright
            img(src='img/logo-white.svg').copyright-logo
            p.copyright-text ©2020 zound industries.
                br
                |all rights reserved. org. nr 5567574610
        ul.menu
            li.menu-item
                a(href='index.html') headphones
            li.menu-item
                a(href='index.html') speakers
            li.menu-item
                a(href='index.html') accessories
            li.menu-item
                a(href='index.html') amps
            li.menu-item
                a(href='index.html') marshall records
            li.menu-item
                a(href='index.html') history
        ul.socials
            li.socials-item
                a(href='index.html') spotify
            li.socials-item
                a(href='index.html') facebook
            li.socials-item
                a(href='index.html') instagram
            li.socials-item
                a(href='index.html') pinterest
        ul.mobile-socials
            li.socials-item
                a(href='index.html')
                    img(src='img/icons/facebook.svg' sizes='32x32')
            li.socials-item
                a(href='index.html')
                    img(src='img/icons/instagram.svg' sizes='32x32')
            li.socials-item
                a(href='index.html')
                    img(src='img/icons/twitter.svg' sizes='32x32')
            li.socials-item
                a(href='index.html')
                    img(src='img/icons/spotify.svg' sizes='32x32')