
header
    .header
        nav.nav
            div.nav.nav-logo
                a(href='index.html')
                    img(src='img/logo-white.svg').nav-logo-white
            ul.nav.menu
                li.menu-item
                    a(href='index.html') headphones
                li.menu-item
                    a(href='speakers.html') speakers
                li.menu-item
                    a(href='index.html') accessories
                li.menu-item
                    a(href='index.html') amps
                li.menu-item
                    a(href='index.html') marshall records
                li.menu-item
                    a(href='index.html') history
            div.nav.nav-icons
                a.search-icon(href='index.html')
                    img(src='img/icons/search.svg' sizes='24x24')
                a.shopping-card-icon(href='index.html')
                    img(src='img/icons/shopping-cart.svg' sizes='24x24')
                button.burger-menu(type='button')
                    img.open-menu-icon(src='img/icons/burger-menu.svg' alt='')
        nav.mobile-nav
            div.nav-logo
                a(href='index.html')
                    img(src='img/logo-black.svg').nav-logo-black
            ul.menu
                li.menu-item
                    a(href='index.html') headphones
                li.menu-item
                    a(href='speakers.html') speakers
                li.menu-item
                    a(href='index.html') accessories
                li.menu-item
                    a(href='index.html') amps
                li.menu-item
                    a(href='index.html') marshall records
                li.menu-item
                    a(href='index.html') history
            div.nav-icons
                a.search-icon(href='index.html')
                    img(src='img/icons/burger-menu-search.svg' sizes='24x24')
                a.shopping-card-icon(href='index.html')
                    img(src='img/icons/burger-menu-shopping-cart.svg' sizes='24x24')
                button.burger-menu(type='button')
                    img.close-menu-icon(src='img/icons/close.svg' alt='')
            ul.socials
                li.socials-item
                    a(href='index.html')
                        img(src='img/icons/facebook-dark.svg' sizes='32x32')
                li.socials-item
                    a(href='index.html')
                        img(src='img/icons/instagram-dark.svg' sizes='32x32')
                li.socials-item
                    a(href='index.html')
                        img(src='img/icons/twitter-dark.svg' sizes='32x32')
                li.socials-item
                    a(href='index.html')
                        img(src='img/icons/spotify-dark.svg' sizes='32x32')