section.slider-wrapper
    .bg-swiper
        .swiper-wrapper
            .swiper-slide
                img(src='img/bgi.png').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg
            .swiper-slide
                img(src='img/Rickroll.jpg').bgimg

    .swiper
        .swiper-wrapper
            .swiper-slide.slider
                artical.slider.slider-text
                    h1.big-text MAKING MUSIC WITH MARSHALL
                    p.small-text We’re helping you learn music theory and essential techniques to take you from beginner to pro. Whether you’ve just picked up an instrument for the first time or are looking to fill in some gaps in your playing, Making Music with Marshall has everything to give you a helping hand.
                    p.small-text The series starts at the very beginning by explaining beats and rhythm, before moving on to cover chords, scales, song structures and much more. Best of all, it's all totally free.
                button.slider-btn explore
                .slider.slider-img
                    img(src='img/slider-img.png')
                button.play-btn
                    img(src='img/icons/play-btn.png')
            - var n = 0;
            while n < 6
                - ++n
                .swiper-slide.slider
                    artical.slider.slider-text
                        h1.big-text LOREM IPSUM DOLOR SIT
                        p.small-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat dictum mi at ultricies. Nunc nec dui mi. Morbi elementum cursus urna ut ultrices. Morbi non cursus eros. Pellentesque bibendum fringilla massa sed ultrices. Sed posuere tristique neque sit amet tincidunt.
                        p.small-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum venenatis ornare suscipit. Vestibulum ornare cursus urna. Morbi elementum cursus urna ut ultrices. Morbi non cursus eros.
                    button.slider-btn Lorem
                    .slider.slider-img
                        img(src='img/slider-img.png')
                    button.play-btn
                        img(src='img/icons/play-btn.png')
        .swiper-pagination
