section.newsletter
    .newsletter-text
        h1.newsletter-title SIGN UP FOR OUR NEWSLETTER
        h3.newsletter-offer Get 10 % off on your first order
        form.newsletter-form
            input(placeholder='your email').newsletter-input
            button.newsletter-btn subscribe
        p.newsletter-privacy BY SUBSCRIBING YOU ACCEPT OUR&nbsp;
            a(href='index.html') PRIVACY POLICY
    .newsletter-img
        img(src='img/newsletter-img.png')
