section.shopping-cart
    nav.mobile-nav
        div.nav-logo
            a(href='index.html')
                img(src='img/logo-black.svg').nav-logo-black
        div.nav-icons
            a.search-icon(href='index.html')
                img(src='img/icons/burger-menu-search.svg' sizes='24x24')
            a.shopping-card-icon(href='index.html')
                img(src='img/icons/burger-menu-shopping-cart.svg' sizes='24x24')
            button.burger-menu(type='button')
                img.close-cart-btn(src='img/icons/close.svg' alt='')
    .shopping-cart-head
        h1 Basket
        button.close-cart-btn
            img(src='img/icons/close-cart.svg')
    .shopping-cart-items
        .cart-item
            .product-info
                h2.product-name
                    | ACTON MULTI&#8209;ROOM
                .product-quantity
                    button.product-quantity-down -
                    input(type="number" value="01").product-total
                    button.product-quantity-up +
                .product-price $
                    input(type="number" value='499.99').product-price-value
            .product-image
                img(src='img/catalog/ACTON MULTI-ROOM.png')
        .cart-item
            .product-info
                h2.product-name KILBURN II
                .product-quantity
                    button.product-quantity-down -
                    input(type="number" value="01").product-total
                    button.product-quantity-up +
                .product-price $
                    input(type="number" value='309.00').product-price-value
            .product-image
                img(src='img/catalog/KILBURN II.png')
    .shopping-cart-total
        h3 Total:
        input(type="text").total-price
    button.shopping-cart-checkout checkout