.speakers {
  display: grid;
  row-gap: 2em;

  .breadcrumbs {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: rgba(218, 187, 144, 1);
      span{
        color: rgba(156, 156, 156, 1);
      }
  }

  .banner {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);

    .banner-big-text {
      grid-area: 1/1/1/1;
      font-weight: 900;
      font-size: 56px;
      line-height: 84px;
      text-transform: uppercase;
    }

    .banner-small-text {
      grid-area: 2/2/2/2;
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: rgba(156, 156, 156, 1);
    }

  }

  .filter {
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 100%;
    row-gap: 20px;

    &::before {
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: inherit;
      opacity: .15;
      box-shadow: 0 .25em .5em #263238;
      pointer-events: none;
      transition: opacity .2s;
      z-index: -1;
    }

    &[open] {

      &::before {
        opacity: .6;
      }
    }
    .filter-head {
      border-bottom: 2px solid rgba(156, 156, 156, 1);
      display: grid;
      grid-template-rows: 100%;
      grid-template-columns: repeat(2, 1fr);
      position: relative;
      cursor: pointer;
      margin-bottom: 20px;


      .title {
        color: rgba(218, 187, 144, 1);
        font-weight: 900;
        font-size: 24px;
        line-height: 36px;
        text-transform: uppercase;
      }

      .filters-toggle-btn {

        display: grid;
        padding-right: 50px;
        color: rgba(156, 156, 156, 1);
        background-color: transparent;
        place-items: center end;
        justify-self: end;

        button {
          background: rgba(156, 156, 156, 1);
          border-color: rgba(156, 156, 156, 1);
        }
      }
    }


    .filter-items {
      user-select: none;
      grid-area: 2/1/2/3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: row;
      gap: 20px;

      .filter-item {
        height: 50px;
        border: 2px solid #DABB90;
        border-radius: 3px;
        background-color: transparent;
        color: rgba(237, 237, 237, 1);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
      }

      .filter-item:hover {
        background-color: rgba(218, 187, 144, 1);
        color: rgba(26, 31, 36, 1);
      }
      .selected-filter{
        background-color: rgba(218, 187, 144, 1);
        color: rgba(26, 31, 36, 1);
      }
    }

  }

  .catalog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: row;
    font-family: 'Montserrat', serif;
    gap: 20px;
    text-align: center;
    place-items: center stretch;
    padding: 20px 0;

    .catalog-item {
      display: grid;
      grid-template-rows: 60% 1fr 1fr 1fr;
      border: 2px solid #DABB90;
      border-radius: 3px;
      place-items: center;

      row-gap: 5px;
      padding: 20px 0;

      .catalog-item-img{
        max-width:100%;
        max-height:100%;
      }
      .catalog-item-desc {
        text-transform: lowercase;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(156, 156, 156, 1);
        align-self: start;
        height: 40px;
      }
    }

    .hidden-by-filter {
      display: none;
    }
    .catalog-item:hover {
      background-color: rgba(218, 187, 144, 1);
      color: rgba(26, 31, 36, 1);
    }
    .catalog-more-btn{
      display: none;
    }
  }

  .category-block {

    margin-top: 6%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 45% 55%;
    background-color: rgba(218, 187, 144, 1);
    border-radius: 3px;
    color: rgba(26, 31, 36, 1);
    height: 400px;

    .category-block-text {
      display: grid;
      grid-template-rows: 30% 20% 50%;
      padding-right: 20px;

      .category-block-title {
        color: rgba(26, 31, 36, 1);
        font-weight: 900;
        font-size: 32px;
        line-height: 100%;
        align-self: end;
        text-transform: uppercase;
      }

      .category-block-desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
        opacity: 0.65;
        align-self: center;
        text-transform: uppercase;
      }

      .category-block-btn {
        display: grid;
        width: 50%;
        height: 60px;
        border: 2px solid #1A1F24;
        border-radius: 3px;
        font-weight: 800;
        font-size: 20px;
        line-height: 100%;
        color: rgba(26, 31, 36, 1);
        align-self: center;
        text-align: center;
        align-items: center;
      }

    }

    .category-block-img {
      display: grid;
      min-width: auto;
      transform: translateY(-30%);
      justify-content: start;
    }
  }


}
.filter-head{
  &::before,
  &::after {
    width: .75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color:rgba(156, 156, 156, 1);
    text-align: right;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);

    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &::-webkit-details-marker {
    display: none;
  }
}

@media only screen and (max-width: 900px) {

  .speakers {
    padding: 0 20px;
    .breadcrumbs {

    }

    .banner {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 3fr;

      .banner-big-text {
        grid-area: 1/1/1/1;
        font-size: 24px;
        line-height: 36px;
      }

      .banner-small-text {
        grid-area: 2/1/2/1;
        line-height: 130%;
      }

    }

    .filter {
      display: grid;
      grid-template-rows: 5% 95%;
      grid-template-columns: 100%;
      row-gap: 20px;

      .filter-head {

        .title {
          font-size: 16px;
          line-height: 24px;
        }

        .filters-toggle-btn {
          font-size: 12px;
          line-height: 18px;

          button {
          }
        }
      }


      .filter-items {
        grid-template-columns: 100%;
        grid-template-rows: unset;
        gap: 0;
        row-gap: 15px;
        padding: 0 20px;

        .filter-item {
        }

        .filter-item:hover {
          background-color: transparent;
          color: rgba(237, 237, 237, 1);
        }
        .selected-filter:hover{
          background-color: rgba(218, 187, 144, 1);
          color: rgba(26, 31, 36, 1);
        }
      }


    }

    .catalog {
      grid-template-columns: 100%;
      grid-template-rows: unset;
      padding: 20px;
      gap: 0;
      row-gap: 30px;
      .hidden-element-in-mobile-version {
        display: none;
      }


      .catalog-item {


        .catalog-item-desc {

          line-height: 28px;
          height: 20px;
        }
      }

      .catalog-item:hover {
        background-color: rgba(218, 187, 144, 1);
        color: rgba(26, 31, 36, 1);
      }
      .catalog-more-btn{
        display: grid;
        font-style: normal;
        font-weight: 900;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid rgba(218, 187, 144, 1);
        border-radius: 3px;
        color: rgba(255, 255, 255, 1);
        height: 60px;
        align-items: center;
      }
      .hidden-btn{
        display: none;
      }
    }


    .category-block {
      margin-top: 0;
      grid-template-rows: unset;
      grid-template-columns: 100%;
      height: unset;
      padding: 20px;

      .category-block-text {
        display: grid;
        grid-template-rows: unset;
        padding-right: 0;

        .category-block-title {
          color: rgba(26, 31, 36, 1);
          font-weight: 900;
          font-size: 32px;
          line-height: 100%;
          align-self: end;
          text-transform: uppercase;
        }

        .category-block-desc {
          font-family: 'Montserrat', serif;
          font-weight: 600;
          font-size: 16px;
          line-height: 145%;
          opacity:1;
          align-self: center;
          text-transform: unset;
          padding: 10px 0;
        }

        .category-block-btn {

          width: 100%;

          font-weight: 900;

          color: rgba(26, 31, 36, 1);
          align-self: center;
          text-align: center;
          align-items: center;
          text-transform: uppercase;
        }

      }

      .category-block-img {
        display: none;
      }
    }


  }


}