doctype html
html(lang="en")

    head
        title Marshall
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet' href='https://unpkg.com/swiper@8/swiper-bundle.min.css')

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        include modules/header
        include modules/main
        include modules/category
        include modules/newsletter
        include modules/shopping-cart
        include modules/footer

        img(src='./img/icons/arrow.svg').scroll-arrow
        script(src='./js/scripts.js')