doctype html
html(lang="en")

    head
        title Marshall
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet' href='https://unpkg.com/swiper@8/swiper-bundle.min.css')

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
    body
        include modules/header
        include modules/shopping-cart
        section.speakers
            .breadcrumbs main page
                span — speakers
            .banner
                h1.banner-big-text ALL SPEAKERS
                p.banner-small-text Winners aren’t made overnight. Over 50 years of sound and design expertise has been distilled into each and every Marshall speaker, bringing that big stage presence home for your listening enjoyment.
            details.filter(open)
                summary.filter-head
                    .title Filters
                    .filters-toggle-btn hide filters
                .filter-items

            .catalog
            include modules/category-block
        include modules/footer

        img(src='img/icons/arrow.svg').scroll-arrow
        script(src='./js/scripts.js')